
  body {
    text-align: center;
    color: white;
    background: black;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

  } 

#navbar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    background-color: #252d4d;
    border: 1px solid rgba(0, 243, 255, 0.2);
    border-radius: 30px;
    opacity: 90%;
}


#navbartitle {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;


}


#catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  max-width: 1200px;
  margin: 40px auto;
  padding: 2px;
}

.item {
  background: black;
  border-radius: 16px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  color: white;

  transition: 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  background: #1f2937;
}

.item img {
  width: 100%;
  aspect-ratio: 1 / 1;

  object-fit: contain;
}

#back {
  position: fixed;
  top: 15px;
  left: 10%;


}
body {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}